@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.pw-container {
    background-color: rgb(75, 12, 80);
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.pw-header{
    padding: 0.5rem;
}

.pw {
    background-color: rgb(69, 28, 109);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}
.pw-body{
    padding: 0 1rem 1rem;
}

.pw button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    background-color: white;
    padding: 0.25rem 0.5rem;
    border: none;
    color: rgb(29, 2, 56);
    opacity: 0;
    cursor: pointer;
}

.pw:hover button{
    opacity: 1;
    transform: translate(0, 0);
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
    color: #eee;
}

.generate {
    display: block;
    background-color: #ecb602;
    color: rebeccapurple;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    margin-top: 1rem;
}